

.about-me
{
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.aboutme-img
{
    border: 5px solid white;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}


.about-me p
{
    text-align: center;
}

.about-me a 
{
    font-size: 1.2rem;
}

.about-me::after
{
   clear: both;
   display: table;
   content: '';


}

.aboutme-image 
{
    margin-top: 25px;
}

.aboutme-image img 
{
    height: 270px ;
    width: 250px;
}
