.navbar-menu a 
{
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: #0c6168;
    border-radius: 10px;
    margin:7px 0px;
    padding: 10px;
}

[class *="col-"]
{
    float: left;
    padding: 10px;
}

/* *for mobile  */

[class *="col-"]
{
    width: 100%;
}

.navbar
{
    
    background-color:#0c6168;
    padding: 1% 7%;
    text-align: center;
}

.navbar h1{
    color: white;
     margin: 0;
     padding-top: 10px;
}

.navbar-menu a:hover{

    background-color: gray;

}

.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;

}